.filterOrderActivities {
  width: 100%;
}

.filterOrderActivitiesContainer {
  /* max-width: 800px; */
  max-width: 80%;
  padding: 20px 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: 1fr 2fr 2fr 1fr; */
  row-gap: 20px;
}

.filterOrderActivitiesLogo {
  margin: auto;
  font-size: 28px;
  font-weight: bold;
}

.filterOrderActivitiesTypes {
  width: 250px;
  align-items: center;
  text-align: center;
  margin: auto;
}

.filterOrderActivitiesButton {
  margin: auto;
}

.filterOrderActivitiesButton button {
  margin: auto;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  border: 4px solid coral;
  background-color: #fff;
}
.filterOrderActivitiesButton button:hover {
  cursor: pointer;
}
