.mainContainer{
  display: flex;
  flex-wrap: wrap ;
  /* justify-content: center;
  align-content: center;
  min-width: 99vw;
  min-height: 99vh;*/
  flex-direction: column ;  
  justify-content: space-around;
}
.header{
  display:flex;
  flex: row;
  width:99%;
  justify-content: space-around;
  padding: 8px;
}
.logo{
  
  position:left;
}
.backbutton{

position: right;
}
.image{
  image-rendering: auto;
  max-width: 520px;
  box-shadow: 11px 20px 8px rgba(0, 0, 0, 0.33)
}
.container{
  /* max-width: 800px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.description{
  margin: 8px 8px 8px 0px;
  padding: 8px;
  width: 520px;
  max-height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FBFBFB;
  box-shadow: 11px 20px 8px rgba(0, 0, 0, 0.33);
}
.button{
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  width: 150px;
  /* height: 28px; */
  border: 3px solid #FF795B;
  border-radius: 10px;
  transition: all 0.2s;
  font-family: inherit;
}

.button:hover{
  background-color: #FF795B;
  color: white;
}