.cityContainer {
  width: 100%;
}

.cityContainer h1 {
  color: #000;
  font-size: 48px;
  text-align: center;
  color: darkred;
}

.cityContainerCard {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 20px;
}

.cityContainerCard a {
  margin: auto;
}
