.activityContainer {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.activityContainerCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(480px, auto);
  align-items: center;
  justify-content: center;
  cursor: default;
}

.activityContainerCards div {
  margin: auto;
}
